{
    "timeout": 10,
    "source": {
        "directories": [
            "src"
        ]
    },
    "logs": {
        "text": "build/mutation-tests/infection.log",
        "summary": "build/mutation-tests/summary.log",
        "debug": "build/mutation-tests/debug.log",
        "perMutator": "build/mutation-tests/per-mutator.md",
        "badge": {
            "branch": "master"
        }
    },
    "mutators": {
        "@default": true,
        "@function_signature": false
    }
}
